// Import core variables from silverstripe/admin
@import "variables";

// Import all of your SCSS stylesheets using relative paths from "components"
// e.g. @import '../components/MyComponent/MyComponent.scss';
